{% extends './base_teacher.html' %}
{% load static %}

{% block title %}
<title>Announcements</title>
{% endblock title %}

{% block styles %}
<link href="{% static 'Teacher/assets/css/announcement_teach.css' %}" rel="stylesheet">
{% comment %} <script src="https://cdn.tailwindcss.com"></script>  {% endcomment %}
<style>
  .btn-success, .btn-success:active, .btn-success:visited {
    background-color: #008374 !important;
  }
  
  .btn-success:hover {
    border-color: #008374 !important;
    background-color: white !important;
    color: #008374 !important;
  }
</style>
{% endblock styles %}


{% block navbar %}
  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>EDUMATE<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <a class="btn" href="{% url 'classroom' pk=pk pk2=pk2%}">Back</a>
          </li>
          
          
          <li class="dropdown">
            <a href="#">
              <span>Hello {{request.session.tname}}!</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
            </a>
            <ul>
              <li>
                {% if pk %}
                <a href="{% url 'logout' pk=pk %}"><i style="margin-right: 6px;" class="fa-solid fa-right-from-bracket"></i>logout</a>
                {% else %}
                <a href="{% url 'logout' pk=pk1 %}"><i style="margin-right: 6px;" class="fa-solid fa-right-from-bracket"></i>logout</a>
                {% endif %}
              </li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>


    </div>
  </header>
  {% endblock navbar %}

{% block content %}
    <div class="container">
        <h1 class="centerHeader">Announcement</h1>
        <form class="alignment" method="post">
            {% csrf_token %}
            <textarea style="width: 60vw; margin-right: 20px" class="form-control" type="text" placeholder="Announce" name="announce_data" rows="" required></textarea>
            <button class="btn btn-success" style="margin-top: 10px" type="submit">create</button>
        </form>
        <br><br><hr><br>

        <div class="row row-content">
            {% for i in announcement_data %}
            <div style="margin-top: 1%" class="col-md-4 my-2">
                <div class="card">
                    <div class="card-header">
                        <div>
                          {{ i.date }}
                        </div>
                        <div>
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModalCenter{{forloop.counter}}">
                            <i class="fa fa-trash"></i>
                          </button>

                          <!-- Modal -->
                          <div class="modal fade" id="exampleModalCenter{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Are you sure want to Delete the Announcement ?</h5>
                                  <button class="btn btn-secondary" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <a class="btn btn-danger" onclick="delann({{ i.ann_id }})">
                                  {% comment %} <a class="btn btn-danger" href="announcement/{{i.id}}" > {% endcomment %}
                                    Delete
                                  </a>
                                </div>
                                {% comment %} <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary">Save changes</button>
                                </div> {% endcomment %}
                              </div>
                            </div>
                          </div>
                          

                          <div class="modal fade" id="exampleModalAnnounce{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">{{i.date}}</h5>
                                  <button class="btn btn-secondary" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p id="datain">{{i.announce_data}}</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                        <p style="text-overflow: ellipsis; word-wrap: nowrap; overflow: hidden">{{ i.announce_data|slice:":50" }} <a href="#" data-toggle="modal" data-target="#exampleModalAnnounce{{forloop.counter}}" style="font-size: 0.875rem;">..Read more</a> </p>
                        {% comment %} <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> {% endcomment %}
                        </blockquote>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <br>

        <br><br><br>
    </div>
{% endblock content %}

{% block script %}
<script>
  function append(data)
  {
    $('#datain').text(data);
  }

function delann(id)
{
  $.ajax(
      {
          type:"POST",
          url: "{% url 'announcementdelete' pk=pk pk2=pk2 %}",
          data:{
            ann_id: id,
            csrfmiddlewaretoken: '{{ csrf_token }}'
          },
          success: function( data ) 
          {
              location.reload();
          }
      })
}

</script>
{% endblock script %}