{% extends './base_teacher.html' %}
{% load static %}

{% block title %}
<title>Similarity Check</title>
{% endblock title %}

{% block styles %}
<style>
    .btn-success, .btn-success:active, .btn-success:visited {
        background-color: #008374 !important;
      }
      
      .btn-success:hover {
        border-color: #008374 !important;
        background-color: white !important;
        color: #008374 !important;
      }
</style>
{% endblock styles %}

{% block content %}


{% comment %} {% for assignment in assignments %}
    <div style="display: flex; flex-direction: row; flex-wrap: nowrap;">
        <a href="{{ assignment.0.assign_file.url }}" target=_blank>Assignment Id : {{assignment.0.assign_id}}</a>
        <p>{{assignment.0.percentage_similarity}}</p>
        <div style="margin-left: 10px"> Student Name : {{assignment.1.0.name}}</div>
    </div>
{% endfor %} {% endcomment %}


<table style="border-top: 1px solid #cbc3c3; margin-top: 50px" class="table table-bordered" id="plagarism-table">
    <thead>
        <tr>
            <th>Sr. No.</th>
            <th>Student Name</th>
            <th>Second Student Name</th>
            <th>Similarity Score</th>
            {% comment %} <th>Delete</th> {% endcomment %}
        </tr>
    </thead>
    <tbody class="two-col-form">
        {% for i in plagData %}
        <tr>
             <td>{{forloop.counter}}</td>
             <td>{{i.stud_assignment1}}</td>
             <td>{{ i.stud_assignment2 }}</td>
             <td>{{ i.percentage_similarity }}</td>
             {% comment %} <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#productDeleteModal" data-product-id="{{i.att_id.att_id}}" data-product-name="{{i.name}}" onclick="caller('{{i.stud_id}}', '{{i.att_id}}')">Delete</button></td> {% endcomment %}
        </tr>
        {% endfor %}
    </tbody>
</table>


<a class="btn btn-outline-success" href="{% url 'assignmentteach' pk=pk pk2=pk2 pk3=pk3 %}">Back</a>
{% endblock content %}

{% block script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>

<script>


$(document).ready( function () {
	$('#plagarism-table').DataTable({
		"order": [],
		dom: 'Bfrtip',
		buttons: [
		{ extend: 'copy', className: 'btn btn-success glyphicon' },
   		{ extend: 'csv', className: 'btn btn-success glyphicon' },
    	{ extend: 'excel', className: 'btn btn-success glyphicon' },
    	{ extend: 'pdf', className: 'btn btn-success glyphicon' },
		],
		
		"paging": true
		});
});
function caller(id1, id2)
{
	$("[name=att_id]").val(id2);
	$("[name=stud_id]").val(id1);
}	

</script>
{% endblock script %}