{% extends './base_teacher.html' %}
{% load static %}




{% block content %}
<br><br>
<div class="container ">
  <div class="container" >
      <form method="post"class="form-group row">
        {% csrf_token %}
        <div class="col-sm-3">
        <input class="form-control" type="text" placeholder="Enter assignment name" name="name">
      </div>
        <div class="col-sm-5">
        <input class="form-control" type="text" placeholder="Enter assignment description" name="description">
      </div>
        <div class="col-sm-2">
        <input class="form-control" type="text" placeholder="Enter maximum marks" name="marks">
      </div>
        <div class="col-sm-2">
        <button class="btn btn-outline-success" type="submit">create</button>
      </div>
      </form>

      <br>

      <div class="row">
      {% for i in assign %}
          

        <div class="card mr-2 mb-2" style="width: 23%;">
          <div class="card-body">
            <h5 class="card-title">Name:  {{ i.assignment_name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted"> Max marks: {{ i.max_marks }} </h6>
            <p class="card-text">Description : {{ i.assignment_description }}</p>
            <a href="{% url 'assignmentteach' pk=pk pk2=pk2 pk3=i.assignment_id %}" class="card-link">Go to submitted assignments</a>
            
          </div>
        </div>
      {% endfor %}
    </div>
    <br>
      <a class="btn btn-success" href="{% url 'announcementteach' pk=pk pk2=pk2 %}">Make an announcement</a>
      <a class="btn btn-outline-success" href="{% url 'teacher_home' pk=pk %}">Back to home page</a>
    </div>
    </div>
{% endblock content %}