{% extends './base_teacher.html' %}
{% load static %}


{% block navbar %}
<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>EDUMATE<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="{% url 'login_student' %}">Student Login</a></li>
          <li><a href="{% url 'login_teacher' %}">Teacher Login</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->
  
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  
    </div>
  </header>
{% endblock navbar %}

{% block content %}
    <div>
      <form method="post">
        {% csrf_token %}
        <input type="text" placeholder="Enter assignment name" name="name">
        <input type="text" placeholder="Enter assignment description" name="description">
        <input type="text" placeholder="Enter maximum marks" name="marks">
        <button type="submit">create</button>
      </form>
      {% for i in assign %}
        <div>Assignment name : {{ i.assignment_name }}</div>
        <div>Assignment description : {{ i.assignment_description }}</div>
        <div>Maximum marks : {{ i.max_marks }}</div>
        <a href="{% url 'assignmentteach' pk=pk pk2=pk2 pk3=i.assignment_id %}">Go to submitted assignments page</a>
        <br>
      {% endfor %}
      <a href="{% url 'teacher_home' pk=pk %}">Back to home page</a>
    </div>
{% endblock content %}