{% extends './base_teacher.html' %}
{% load static %}

{% block navbar %}
  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>EDUMATE<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <a class="btn" href="{% url 'classroom' pk=pk pk2=pk2 %}">Back</a>
          </li>
          
          <li class="dropdown">
            <a href="#">
              <span>Hello {{request.session.tname}}!</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
            </a>
            <ul>
              <li>
                {% if pk %}
                <a href="{% url 'logout' pk=pk %}"><i style="margin-right: 6px;" class="fa-solid fa-right-from-bracket"></i>logout</a>
                {% else %}
                <a href="{% url 'logout' pk=pk1 %}"><i style="margin-right: 6px;" class="fa-solid fa-right-from-bracket"></i>logout</a>
                {% endif %}
              </li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header>
  {% endblock navbar %}

{% block title %}
<title>Create Quiz</title>
{% endblock title %}


{% block styles %}
<link href="{% static 'Teacher/assets/css/createQuizs.css' %}" rel="stylesheet">
{% endblock styles %}

{% block content %}

    <!-- Quiz Box -->
    <div class="container-fluid">
        <div class="row row-content">
          
            <div style="margin-top: 3vh; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 my-5">
                <div class="quiz_box">
                    <form method='post' enctype="multipart/form-data">
                        {% csrf_token %}
                        <header>
                            <div class="title">
                                <input class="QuizName form-control" name="quiz_name" style="border: 1px solid #ced4da; border-radius: .375rem;" placeholder="Enter Quiz Name" required/>
                            </div>
                            <input style="border: none; display: none;" id="QuestionCount" name="question_count" value=1>
                            <input style="border: none; display: none;" id="radioCount" name="radio_count" value=2>
                            <input style="border: none; display: none;" id="rdc" name="rdc">
                            <div class="timer">
                                <div class="time_left_txt">Time: </div>
                                <input style="width: 50px;" value=10 class="form-control" type="number" name="quiz_time">
                            </div>  
                          </header>
                          <div class="timer" style="margin-top: 15px; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-evenly; align-items: center">
                              <div class="time_left_txt">Due Date & Time: </div>
                              <input style="width: 18vw;" value=10 class="form-control" type="datetime-local" name="quiz_date">
                          </div>  
                        <section class="questionInput">
                            <div class="description">
                                <textarea class="description" style="width: -webkit-fill-available; outlint: none; border: 1px solid #ced4da; border-radius: .375rem; padding: 10px; margin-bottom: 2rem;" placeholder="Description" name="desc"></textarea>
                            </div>
                            <div id="sq1" class="single_question1 Ques">
                                
                                {% comment %} Question {% endcomment %}
                                <div class="individualQuestion">
                                    <div class="question_del_align">
                                        <input class="form-control specialInputQuestions" type="text" placeholder="Question" name="question1" id="question1">
                                    </div>


                                    <input class="form-control specialInputQuestions" multiple="multiple" type="file" accept="image/*" name="question_img1" id="question_img1">
                                    {% comment %} <textarea placeholder="Question" class="specialInputQuestions" onkeyup="do_resize(this)" style="padding: 5px; border: 1px solid #ced4da; border-radius: 5px; width:100%; outline:none" name="test" cols="40"></textarea> {% endcomment %}
                                    {% comment %} <a class="btn delete_button" id="1" onclick="deleteQuestion(this.id)"><i class="fa fa-trash"></i></a> {% endcomment %}
                                </div>
        
                                {% comment %} Options {% endcomment %}
                                <div class="Options1">
                                    <div class="individualOption">
                                        <input id="option11" class="form-control specialInputOptions" type="text" placeholder="Options" name="option11">
                                        <input id="acoption11" onclick="changeInputColor(this.name)" class="radioInput" type="checkbox" placeholder="Options" name="acoption11">
                                    </div>
                                    <div class="individualOption">
                                        <input id="option12" class="form-control specialInputOptions" type="text" placeholder="Options" name="option12">
                                        <input onclick="changeInputColor(this.name)" id="acoption12" class="radioInput" type="checkbox" placeholder="Options" name="acoption12">
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <a style="background-color: #008374; color: white;" id="addOptions" class="btn" onclick="addOption()">+</a>
                            <a id="addQuestions" style="background-color: #008374; color: white;" class="btn" onclick="addQuestion()">Q+</a>
                        </section>
    
                        <footer>
                            {% comment %} <a class="btn" style="background-color: #008374; color: white;" href="{% url 'classroom' pk=pk pk2=pk2 %}"><i class="fa-solid fa-backward"></i></a> {% endcomment %}
                            <div style="display: flex; flex-direction: row-reverse; flex-wrap: nowrap; justify-content: space-around; align-items: center;">
                                <button style="background-color: #008374; color: white;" onclick="updateAll()" type="submit" class="btn ">submit</button>
                            </div>
                        </footer>
                    </form>
            
                </div>
            </div>



          

          <div style="margin-top: 3vh; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
           
            <div class="quiz_box">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    View Quizes
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="row" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
                    {% for i, j in allQuiz %}
               
                  <div class="card my-2 col-md-4 mx-2" style="width: 18rem; padding:0px;">
                      <div class="card-header">
                        <div style="font-weight: 600; font-size: 16px">
                          {{i.quiz_name}}
                        </div>
                      </div>
                      <div class="card-body">
                        <blockquote class="blockquote mb-0">
                          <p><small>Description : {{i.description}}</small></p>
                          <p><small>Max marks: {{ j }}</small></p>
                          <p><small>Quiz Creation Date: {{ i.quiz_date }}</small></p>
                          <p><small>Time Limit: {{ i.time_limit }} mins</small></p>
                        </blockquote>
                        <br>

                        <a class="btn btn-success" href="{% url 'quiz_info' pk=pk pk2=pk2 pk3=i.id %}">View deatils</a>
                      </div>
                    </div>
                    
              {% endfor %}
            </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            
          </div>

            {% comment %} <div style="margin-top: 3vh; margin-left: 3vh;" class="col-xl-4 col-lg-4 col-md-2 col-sm-12">
              {% for i in allQuiz %}
                  

                  <div class="card my-2 mx-1 col-md-4" style="width: 25rem; padding:0px;">
                      <div class="card-header">
                        <div style="font-weight: 600; font-size: 18px">
                          {{i.quiz_name}}
                        </div>
                      </div>
                      <div class="card-body">
                        <blockquote class="blockquote mb-0">
                          <p><small>Description : {{i.description}}</small></p>
                          <p><small>Max marks: {{ i.total_marks }}</small></p>
                          <p><small>Quiz Creation Date: {{ i.quiz_date }}</small></p>
                          <p><small>Time Limit: {{ i.time_limit }} mins</small></p>
                        </blockquote>
                      </div>
                    </div>
              {% endfor %}
          </div> {% endcomment %}

          


            
        </div>
    
        
    </div>
{% endblock content %}


{% block script %}
<script src="{% static 'Teacher/assets/js/createQuizz.js' %}"></script>
{% endblock script %}