{% extends './base_teacher.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

<style>
    .form {
        margin: auto;
      }
      
      .form input, .form select, .form textarea {
        border-radius: 5px;
        border: 1px solid #000;
        outline: none;
        background: none;
        padding: 5px;
        width: 100%;
      }
</style>
{% endblock styles %}





{% block content %}
<div class="clearfix">
    <a class="btn btn-outline-success left" href="{% url 'schedule' pk=pk1 pk2=pk2 %}"> Calendar </a>
  </div>
  
  <form method="post">
    {% csrf_token %}
    <table class="form form-table">
      {{ form }}
      <tr><td colspan="2"><button type="submit" class="btn btn-outline-success right"> Submit </button></td></tr>
    </table>
  </form>

{{ calendar }}   
{% endblock content %}





