{% extends './base_teacher.html' %}
{% load static %}

{% block navbar %}
  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>EDUMATE<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <a class="btn" href="{% url 'schedule' pk=pk1 pk2=pk2 %}">Back to calender</a>
          </li>
          
          
          <li class="dropdown">
            <a href="#">
              <span>Hello {{request.session.tname}}!</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
            </a>
            <ul>
              <li>
                {% if pk %}
                <a href="{% url 'logout' pk=pk %}">logout</a>
                {% else %}
                <a href="{% url 'logout' pk=pk1 %}">logout</a>
                {% endif %}
              </li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Are you sure want to Delete the Announcement ?</h5>
              <button class="btn btn-secondary" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <a class="btn btn-danger" href="announcement/{{i.id}}">
                Delete
              </a>
            </div>
            {% comment %} <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> {% endcomment %}
          </div>
        </div>
      </div>

    </div>
  </header>
  {% endblock navbar %}
  

{% block styles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

<style>
    .form {
        margin: auto;
      }
      
      .form input, .form select, .form textarea {
        border-radius: 5px;
        border: 1px solid #000;
        outline: none;
        background: none;
        padding: 5px;
        width: 100%;
      }
      .btn-success, .btn-success:active, .btn-success:visited {
        background-color: #008374 !important;
      }
      
      .btn-success:hover {
        border-color: #008374 !important;
        background-color: white !important;
        color: #008374 !important;
      }
</style>
{% endblock styles %}





{% block content %}
{% comment %} <div class="clearfix">
    <a class="btn btn-success left" href="{% url 'schedule' pk=pk1 pk2=pk2 %}"> Calendar </a>
  </div> {% endcomment %}
  <br><br>
  
  <form method="post">
    {% csrf_token %}
    <table class="form form-table">
      {{ form }}
      <tr><td colspan="2"><button type="submit" class="btn btn-success right"> Submit </button></td></tr>
    </table>
  </form>

{{ calendar }}   
{% endblock content %}





