{% extends './base_teacher.html' %}
{% load static %}


{% block navbar %}
<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>EDUMATE<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="{% url 'login_student' %}">Student Login</a></li>
          <li><a href="{% url 'login_teacher' %}">Teacher Login</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->
  
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  
    </div>
  </header>
{% endblock navbar %}

{% block content %}
    {% comment %} <div>
        {% for i in submit %}
        <p>Student ID: {{ i.stud_id }}</p>
        <p>Description: {{ i.assign_desc }}</p> 
        <p>View file: <a href="{{ i.assign_file.url }}" target="_blank">file</a></p> 
        {% endfor %}
      <a href="{% url 'classroom' pk=pk pk2=pk2 %}">Back to classroom</a>
    </div> {% endcomment %}
     
    <div class="container-fluid">
        <div class="row row-content">
            <div class="col-6">
                <p>Student Name: {{ student_name }}</p>
                <p>Description: {{ submit.assign_desc }}</p> 
                <br>
                <iframe src={{ submit.assign_file.url }} style="width:718px; height:700px;"frameborder="0"></iframe>
            </div>
            <div class="col-6">
                <p>Enter Marks</p>
                <input type="number" name="marks" placeholder="Enter Marks">
                <button class="btn btn-outline-success">Submit</button>
            </div>
        </div>
        
    </div>
{% endblock content %}