{% extends './base_teacher.html' %}
{% load static %}


{% block navbar %}
<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>EDUMATE<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="{% url 'login_student' %}">Student Login</a></li>
          <li><a href="{% url 'login_teacher' %}">Teacher Login</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->
  
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  
    </div>
  </header>
{% endblock navbar %}

{% block content %}
    <div>
        {% for i in submit %}
        <p>Student ID: {{ i.stud_id }}</p>
        <p>Description: {{ i.assign_desc }}</p> 
        <p>View file: <a href="{{ i.assign_file.url }}" target="_blank">file</a></p> 
        <p>Grade Assignment: <a href="{% url 'grade' pk=pk pk2=pk2 pk3=pk3 pk4=i.stud_id %}" >{{ i.stud_id }}</a></p> 
        {% endfor %}
        <form method="post">
          {% csrf_token %}
          <input name="peer" value="peer" style="display: none">
          <button type="submit">Start the peergrading</button>
        </form>
        <table>
          <tr>
            <th>Student ID</th>
            <th>Assigned peer 1</th>
            <th>Marks given</th>
            <th>Assigned peer 2</th>
            <th>Marks given</th>
          </tr>
          {% for i in peer %}
          <tr>
            <td>{{ i.stud_id }}</td>
            <td>{{ i.as_peer_1 }}</td>
            <td>{{ i.as_1_marks }}</td>
            <td>{{ i.as_peer_2 }}</td>
            <td>{{ i.as_2_marks }}</td>
          </tr>
          {% endfor %}
        </table>
        <table>
          <tr>
            <th>Student ID</th>
            <th>Peer 1 who has given marks</th>
            <th>Marks given</th>
            <th>Peer 2 who has given marks</th>
            <th>Marks given</th>
          </tr>
          {% for i in shr %}
          <tr>
            <td>{{ i.0 }}</td>
            <td>{{ i.1 }}</td>
            <td>{{ i.2 }}</td>
            <td>{{ i.3 }}</td>
            <td>{{ i.4 }}</td>
          </tr>
          {% endfor %}
        </table>
        <a href="{% url 'classroom' pk=pk pk2=pk2 %}">Back to classroom</a>
    </div>
{% endblock content %}