{% extends './base_teacher.html' %}
{% load static %}

{% block title %}
<title>Assignment</title>
{% endblock title %}

{% block navbar %}

<style>

  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
  .btn-success, .btn-success:active, .btn-success:visited {
    background-color: #008374 !important;
  }
  
  .btn-success:hover {
    border-color: #008374 !important;
    background-color: white !important;
    color: #008374 !important;
  }

</style>

<header id="header" class="header d-flex align-items-center">

  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="#" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1>EDUMATE<span>.</span></h1>
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a href="{% url 'classroom' pk=pk pk2=pk2 %}" class="btn">Back to classroom</a>
        </li>
        <li>
          <a href="{% url 'assignmentSimilarityCheck' pk=pk pk2=pk2 pk3=pk3 %}" class="btn">Check Similarity</a>
        </li>
        <li class="dropdown">
          <a href="#">
            <span>Hello {{request.session.tname}}!</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
          </a>
          <ul>
            <li>
              {% if pk %}
              <a href="{% url 'logout' pk=pk %}">logout</a>
              {% else %}
              <a href="{% url 'logout' pk=pk1 %}">logout</a>
              {% endif %}
            </li>
          </ul>
        </li>
      </ul>
    </nav><!-- .navbar -->

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header>
{% endblock navbar %}

{% block content %}
<div class="row">
  <h1 style="margin-top: 20px">Assignment</h1>
  {% for i in submit %}

  {% comment %} <div class="card mr-2 mb-2" style="width: 23%;">
    <div class="card-body">
      <h5 class="card-title">id:  {{ i.stud_id }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Description: {{ i.assign_desc }} </h6>
      <p>View file: <a href="{{ i.assign_file.url }}" target="_blank">file</a></p> 
      <p>Grade Assignment: <a href="{% url 'grade' pk=pk pk2=pk2 pk3=pk3 pk4=i.stud_id %}" >{{ i.stud_id }}</a></p> 
      <a href="{% url 'grade' pk=pk pk2=pk2 pk3=pk3 pk4=i.stud_id %}" class="card-link btn btn-outline-success">Go to Assignment</a>
    </div>
  </div> {% endcomment %}

  <div class="card my-2 mx-1 col-md-4" style="width: 25rem; padding:0px;">
    <div class="card-header">
      <div style="font-weight: 600; font-size: 18px">
        {{i.get_student_name}}
      </div>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><small>Description: {{ i.assign_desc }}</small></p>
        <p><small>View file: <a href="{{ i.assign_file.url }}" target="_blank">file</a></small></p>
        <p><small>Grade Assignment: <a href="{% url 'grade' pk=pk pk2=pk2 pk3=pk3 pk4=i.stud_id %}" > {{ i.get_student_name }}</a></small></p>
        <a href="{% url 'grade' pk=pk pk2=pk2 pk3=pk3 pk4=i.stud_id %}" class="card-link btn btn-success">Go to Assignment</a>
      </blockquote>
    </div>
  </div>
{% endfor %}


</div>
    <div>
        {% if peerf %}
          <form method="post">
            {% csrf_token %}
            <input name="peer" value="peer" style="display: none">
            <button type="submit" class="btn btn-outline-success">Start the peergrading</button>
          </form>
        {% endif %}
        {% if peerf %}
        <table id="customers">
          <tr>
            <th>Student ID</th>
            <th>Assigned peer 1</th>
            <th>Marks given</th>
            <th>Assigned peer 2</th>
            <th>Marks given</th>
          </tr>
          {% for i in peer %}
          <tr>
            <td>{{ i.stud_id }}</td>
            <td>{{ i.as_peer_1 }}</td>
            <td>{{ i.as_1_marks }}</td>
            <td>{{ i.as_peer_2 }}</td>
            <td>{{ i.as_2_marks }}</td>
          </tr>
          {% endfor %}
        </table>
        <table id="customers">
          <tr>
            <th>Student ID</th>
            <th>Marks given by peer1</th>
            <th>Marks given</th>
            <th>Marks given by peer2</th>
            <th>Marks given</th>
          </tr>
          {% for i in shr %}
          <tr>
            <td>{{ i.0 }}</td>
            <td>{{ i.1 }}</td>
            <td>{{ i.2 }}</td>
            <td>{{ i.3 }}</td>
            <td>{{ i.4 }}</td>
          </tr>
          {% endfor %}
        </table>
        {% endif %}
        <div>
          {% comment %} <a href="{% url 'classroom' pk=pk pk2=pk2 %}" class="btn btn-outline-success">Back to classroom</a>
          <a href="{% url 'assignmentSimilarityCheck' pk=pk pk2=pk2 pk3=pk3 %}" class="btn btn-outline-success">Check Similarity</a> {% endcomment %}
        </div>
    </div>
{% endblock content %}