{% extends './base_teacher.html' %}
{% load static %}

{% block styles %}
<link href="{% static 'Teacher/assets/css/teacher_home.css' %}" rel="stylesheet">
{% endblock styles %}

{% block navbar %}
<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>EDUMATE<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="{% url 'login_student' %}">Student Login</a></li>
          <li><a href="{% url 'login_teacher' %}">Teacher Login</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->
  
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  
    </div>
  </header>
{% endblock navbar %}

{% block content %}
    <div class="container">
        <div style="margin-top: 10vh">
            <form class="adjust" method="post">
                {% csrf_token %}
                <input style="width: 70%" class="form-control" type="text" placeholder="Enter class Name" name="name">
                <button class="btn btn-outline-success" type="submit">create</button>
            </form>
        </div>
        <div class="row row-content my-4">
          {% for i in class_data %}
          <div class="col-6">
            <div class="card">
              <div class="card-header">
                {{ i.class_code }}
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>{{ i.class_name }}</p>
                  <a class="blockquote-footer" href="{% url 'classroom' pk=teacher.teach_id pk2=i.class_code %}">Goto classroom</a>
                </blockquote>
              </div>
            </div>
          </div>
              {% comment %} <div>Class Code : {{ i.class_code }}</div>
              <div>Class Name : {{ i.class_name }}</div>
              <a href="{% url 'classroom' pk=teacher.teach_id pk2=i.class_code %}">Goto classroom</a> {% endcomment %}
              <br>
          {% endfor %}
      </div>
    </div>
{% endblock content %}