{% extends './base_teacher.html' %}

{% block navbar %}
<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>EDUMATE<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="{% url 'login_student' %}">Student Login</a></li>
          <li><a href="{% url 'login_teacher' %}">Teacher Login</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->
  
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  
    </div>
  </header>
{% endblock navbar %}

{% block content %}
    <div>
        <div>
            <form method="post">
                {% csrf_token %}
                <input type="name" placeholder="Enter class Name" name="name">
                <button type="submit">create</button>
            </form>
        </div>
        <div>
          {% for i in class_data %}
              <div>Class Code : {{ i.class_code }}</div>
              <div>Class Name : {{ i.class_name }}</div>
              <br>
          {% endfor %}
      </div>
    </div>
{% endblock content %}