{% extends './base_teacher.html' %}
{% load static %}

{% block title %}
<title>View Attendance</title>
{% endblock title %}

{% block styles %}
{% comment %} <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css"> {% endcomment %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">




<style>
.btn-success, .btn-success:active, .btn-success:visited {
  background-color: #008374 !important;
}

.btn-success:hover {
  border-color: #008374 !important;
  background-color: white !important;
  color: #008374 !important;
}
</style>
{% endblock styles %}

{% block navbar %}
  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>EDUMATE<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <a class="btn" href="{% url 'attendance' pk=pk pk2=pk2 %}">Back</a>
          </li>
          
          <li class="dropdown">
            <a href="#">
              <span>Hello {{request.session.tname}}!</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
            </a>
            <ul>
              <li>
                {% if pk %}
                <a href="{% url 'logout' pk=pk %}">logout</a>
                {% else %}
                <a href="{% url 'logout' pk=pk1 %}">logout</a>
                {% endif %}
              </li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>


    </div>
  </header>
  {% endblock navbar %}


{% block content %}

<br><br>
<div class="container ">
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  
         <script>alert('{{ message }}')</script>
        {% endif %}

        {% endfor %}

    {% endif %}
		<div class="row">
			<div class="col">
				<h2>Marked Attendance</h2>
			</div>
			<div class="col">
				{% comment %} <a href="{% url 'product_add' %}" id="add_product_btn"><button type="button" class="btn btn-primary">Add New</button></a> {% endcomment %}
			</div>
		</div>
		<form method="POST">
			{% csrf_token %}
			<div>
				<div class="searchInput">
					{% comment %} <select name="student_id">
						<option value="none">Select student</option>
						{% for i in all_stud %}
						<option value={{ i.stud_id }}>{{ i.name }}</option>
						{% endfor %}
					</select> {% endcomment %}
					<input class="form-control" list="datalistOptions" id="student_id" name="student_id" placeholder="Type to search student name..." required>
					<datalist id="datalistOptions">
						{% for i in all_stud %}
						<option value="{{ i.name }}({{i.stud_id}})">Student ID: {{ i.stud_id }}</option>
						{% endfor %}
					</datalist>
				</div>
			</div>
			<br>
			<button type="submit" class="btn btn-success">Mark Present</button>
		</form>

		<table style="border-top: 1px solid #cbc3c3; margin-top: 50px" class="table table-striped table-bordered hover select" id="attendance-table">
			<thead>
				<tr>
          			<th>Sr. No.</th>
					<th>Name</th>
					<th>Time</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody class="two-col-form">
				{% for i in all_att %}
				<tr>
	 				<td>{{forloop.counter}}</td>
	 				<td>{{i.name}}</td>
	 				<td>{{ i.time }}</td>
	 				<td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#productDeleteModal" data-product-id="{{i.att_id.att_id}}" data-product-name="{{i.name}}" onclick="caller('{{i.stud_id}}', '{{i.att_id}}')">Delete</button></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
</div>
<div class="modal fade" id="productDeleteModal" tabindex="-1" role="dialog" aria-labelledby="productDeleteModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="productDeleteModalLabel">Are you sure?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form method="POST">
			{% csrf_token %}
			<div class="modal-body">
				Are you sure you want to delete <b><span class="product-name"></span></b>?
					<div class="form-group">
						<input hidden="true" type="text" class="form-control" name="att_id">
						<input hidden="true" type="text" class="form-control" name="stud_id">
					</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-danger" >Yes</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
			</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}
{% block script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> {% endcomment %}


<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>

<script>


$(document).ready( function () {
	$('#attendance-table').DataTable({
		"order": [],
		dom: 'Bfrtip',
		buttons: [
		{ extend: 'copy', className: 'btn btn-success glyphicon' },
   		{ extend: 'csv', className: 'btn btn-success glyphicon' },
    	{ extend: 'excel', className: 'btn btn-success glyphicon' },
    	{ extend: 'pdf', className: 'btn btn-success glyphicon' },
		],
		"columnDefs": [ {
			"targets": 3,
			"sortable": false,
			"searchable": true
		} ],
		"paging": true
		});
});
function caller(id1, id2)
{
	$("[name=att_id]").val(id2);
	$("[name=stud_id]").val(id1);
}	

</script>
{% endblock script %}