{% extends './base_student.html' %}
{% load static %}

{% block styles %}
<link href="{% static 'Student/assets/css/announcement_student.css' %}" rel="stylesheet">
{% endblock styles %}

{% block navbar %}
  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>EDUMATE<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <a class="btn" href="{% url 'classroom1' pk=pk pk2=pk2 %}">Back</a>
          </li>
          
          
          <li class="dropdown">
            <a href="#">
              <span>Hello {{request.session.tname}}!</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
            </a>
            <ul>
              <li>
                {% if pk %}
                <a href="{% url 'logout' pk=pk %}">logout</a>
                {% else %}
                <a href="{% url 'logout' pk=pk1 %}">logout</a>
                {% endif %}
              </li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>


    </div>
  </header>
  {% endblock navbar %}

{% block content %}
    <div class="container">
        <h1 class="centerHeader">Announcements</h1>
        <br><br><hr><br>
        {% comment %} {% for i in assign %}
        <div>Assignment name : {{ i.assignment_name }}</div>
        <div>Assignment description : {{ i.assignment_description }}</div>
        <div>Maximum marks : {{ i.max_marks }}</div>
        <a href="{% url 'assignment' pk=pk pk2=pk2 pk3=i.assignment_id %}">Goto assignment</a>
        <br>
      {% endfor %} {% endcomment %}
      <div class="row row-content">
        {% for i in announcements %}
        
        <div style="margin-top: 1%" class="col-4">
          
            <div class="card">
                <div class="card-header">
                    {{ i.date }}
                </div>
                <div class="modal fade" id="exampleModalAnnounce{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{i.date}}</h5>
                        <button class="btn btn-secondary" type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p id="datain">{{i.announce_data}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                    <p style="text-overflow: ellipsis; word-wrap: nowrap; overflow: hidden">{{ i.announce_data|slice:":50" }} <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModalAnnounce{{forloop.counter}}">..Read more</a> </p>
                    {% comment %} <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer> {% endcomment %}
                    </blockquote>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
      <br>

      <br><br><br>
    </div>
{% endblock content %}
