{% extends './base_student.html' %}
{% load static %}
{% block content %}
<br><br>
<div class="container">

    <form class="form" autocomplete="off" onsubmit="return saveAns()"  action="" method="POST">
      {% csrf_token %}
      <h1 style="text-align: center;">{{course.course_name}}</h1>
      {% for q in quiz%}
      <h4 class="text">{{ forloop.counter }}. {{q.0.question}}</h4><h4 style="text-align: right;">[Marks {{q.0.question.marks}}]</h4>
      
          
          {% for ops in q  %}
          
            <div class="form-check mx-4">
              <input class="form-check-input" type="radio" name="{{ forloop.counter }}" id="ops" value="Option1">
              <label class="form-check-label" for="option1">
                {{ops}}
              </label>
            </div>
        {% endfor %}
          
            
  
          {% endfor %}
          <br>
          {% comment %} <input class="btn btn-success"   type="submit" value="Submit">   {% endcomment %}
      </form>
    </div>



{% endblock content %}