{% extends './base_student.html' %}
{% load static %}

{% block navbar %}
  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>EDUMATE<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <a class="btn" href="{% url 'quiz_stud' pk=pk pk2=pk2%}">Back</a>
          </li>
          
          <li class="dropdown">
            <a href="#">
              <span>Hello {{request.session.sname}}!</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
            </a>
            <ul>
              <li>
                {% if pk %}
                <a href="{% url 'logout' pk=pk %}">logout</a>
                {% else %}
                <a href="{% url 'logout' pk=pk1 %}">logout</a>
                {% endif %}
              </li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header>
  {% endblock navbar %}

{% block title %}
<title>Answer Quiz</title>
{% endblock title %}

{% block styles %}
<style>

  ::backdrop {
    z-index:0;  
    background-color: white !important;
}

html, *:fullscreen, *:-webkit-full-screen, *:-moz-full-screen {
    background-color: white !important;
    z-index:1;
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  {% comment %} text-transform: uppercase; {% endcomment %}
}

li span {
  display: block;
  {% comment %} font-size: 4.5rem; {% endcomment %}
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}
.timer {
  font-size: 28px;
}
.btn-success, .btn-success:active, .btn-success:visited {
  background-color: #008374 !important;
}

.btn-success:hover {
  border-color: #008374 !important;
  background-color: white !important;
  color: #008374 !important;
}
</style>
{% endblock styles %}


{% block content %}
{% comment %} <p id="days"></p>
<p id="hours"></p>
<p id="mins"></p>
<p id="secs"></p> {% endcomment %}

<h2 id="end"></h2>
<br><br>
{% comment %} <a class="btn btn-success" href="{% url 'quiz_stud' pk=pk pk2=pk2%}">Back</a> {% endcomment %}
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center; height: 75vh;" class="container">
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h5 class="card-title">Instructions</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <ul>
        <li style="display: list-item; font-size: inherit; list-style-type: circle; padding: 0.5em; text-transform: none;" class="card-text">Some quick example text to build on the card </li>
        <li style="display: list-item; font-size: inherit; list-style-type: circle; padding: 0.5em; text-transform: none;" class="card-text">Some quick example text to build on the card </li>
        <li style="display: list-item; font-size: inherit; list-style-type: circle; padding: 0.5em; text-transform: none;" class="card-text">Some quick example text to build on the card </li>
        <li style="display: list-item; font-size: inherit; list-style-type: circle; padding: 0.5em; text-transform: none;" class="card-text">Some quick example text to build on the card </li>
      </ul>
      {% comment %} <a href="#" class="card-link">Card link</a> {% endcomment %}
      <button style="display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: center;" class="btn btn-success" onclick="openFullscreen();">Continue to test <i style="margin-left: 8px" class="fa-solid fa-arrow-right"></i></button>
    </div>
  </div>
</div>

<div class="container" id="mytest" hidden>
  <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; font-size: 12px; margin-top: 2.5vh; margin-bottom: 5rem;">
    <li style="display: none;"><span id="days"></span>days</li>
    <li><span class="timer" id="hours"></span>Hours</li>
    <li><span class="timer" id="mins"></span>Minutes</li>
    <li><span class="timer" id="secs"></span>Seconds</li>
  </div>

    <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center;">
      <form style="width: 60%;" class="form" autocomplete="off" onsubmit="return saveAns()"  action="" method="POST">
        {% csrf_token %}
        <h1 style="text-align: center;">{{course.course_name}}</h1>
        <input type="text" hidden id="cheat" name="cheat" value="not_cheated">
        {% for q in quiz%}
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; margin-bottom: 1.5vh; margin-top: 0.5vh;">
          <div style="display:inline-block; font-size: 22px; " class="text">{{ forloop.counter }}. {{q.0.0.question}}</div>
          <div style="text-align: right; display:inline-block;">[Marks {{q.0.0.question.marks}}]</div>
        </div>
  
        {% for img in q.2  %}
          <div class="form-check mx-4">
            <img height=250 src={{img.image.url}} />
          </div>
        {% endfor %}
        
        {% with outercount=forloop.counter %} 
          {% for ops in q.0  %}
          
            <div class="form-check mx-4">
              {% if q.1 == 1 %}
              <input class="form-check-input" type="radio" name="op_{{outercount}}" id="op_{{outercount}}" value="{{ops}}" >
              {% else %}
              <input class="form-check-input" type="checkbox" name="op_{{outercount}}" id="op_{{outercount}}" value="{{ops}}" >
              {% endif %}
              
              <label class="form-check-label" for="op_{{outercount}}" id="op_{{outercount}}">
                {{ops}}
              </label>
            </div>
          {% endfor %}
        {% endwith %} 
              
        <hr>
            {% endfor %}
            <br>
            <input id="submit_button" class="btn btn-success" type="submit" value="Submit">  
        </form>
    </div>
    </div>



{% endblock content %}

{% block script %} 
<script>
    // The data/time we want to countdown to
    var countDownDate, currenttime,flag;
    flag = 0;
    
    function myfunc(e) {

    var now = new Date().getTime();
    var timeleft = countDownDate - now;  
    // Calculating the days, hours, minutes and seconds left
    var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
    var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);
        
    // Result is output to the specific element
    document.getElementById("days").innerHTML = days + "d "
    document.getElementById("hours").innerHTML = hours + "h " 
    document.getElementById("mins").innerHTML = minutes + "m " 
    document.getElementById("secs").innerHTML = seconds + "s " 
        
    // Display the message when countdown is over
    if (timeleft < 0) {
        clearInterval(myfunc);
        document.getElementById("days").innerHTML = ""
        document.getElementById("hours").innerHTML = "" 
        document.getElementById("mins").innerHTML = ""
        document.getElementById("secs").innerHTML = ""
        document.getElementById("end").innerHTML = "TIME UP!!";
        {% comment %} await new Promise(r => setTimeout(r, 1000)); {% endcomment %}
        document.getElementById("submit_button").click();
    }

    document.addEventListener('fullscreenchange', exitHandler);
    document.addEventListener('webkitfullscreenchange', exitHandler);
    document.addEventListener('mozfullscreenchange', exitHandler);
    document.addEventListener('MSFullscreenChange', exitHandler);

    function exitHandler() {
        if (!document.fullscreenElement && !document.webkitIsFullScreen && !document.mozFullScreen && !document.msFullscreenElement) {
          //alert("You have exited the fullscreen mode, please do not do it again");
          flag=1
          $("#mytest").attr('hidden', true);
          return
        }
}

    };


    count = 0;
        $(document).ready(function() {
            var hidden, visibilityState, visibilityChange;

            if (typeof document.hidden !== "undefined") {
                hidden = "hidden", visibilityChange = "visibilitychange", visibilityState = "visibilityState";
            } else if (typeof document.msHidden !== "undefined") {
                hidden = "msHidden", visibilityChange = "msvisibilitychange", visibilityState = "msVisibilityState";
            }

            var document_hidden = document[hidden];

            {% comment %} document.addEventListener(visibilityChange, function() {
                if(document_hidden != document[hidden]) {
                if(document[hidden]) {
                  count+=1;
                  console.log("Cheating Detected")
                  alert("Cheating Detected first time, if you do it again test will be automatically submitted");
                 if(count == 2){
                     document.getElementById("cheat").value = "cheated";
                     document.getElementById("submit_button").click();
                 }
                }
                document_hidden = document[hidden];
                }
            }); {% endcomment %}
            });

            var elem = document.getElementById("mytest");
            function openFullscreen(e) {
              if (flag==0){
                currenttime = new Date().getTime();
                countDownDate = new Date(currenttime + {{q_time}} * 60 * 1000);
                setInterval(myfunc, 1000);
              }
              //setInterval(myfunc, 1000);
              $("#mytest").attr('hidden', false);
              if (elem.requestFullscreen) {
                elem.requestFullscreen();
              } else if (elem.webkitRequestFullscreen) { /* Safari */
                elem.webkitRequestFullscreen();
              } else if (elem.msRequestFullscreen) { /* IE11 */
                elem.msRequestFullscreen();
              }
            }      
            if (window.performance) {
              console.info("window.performance works fine on this browser");
            }
            console.info(performance.navigation.type);
            {% comment %} if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
              console.info( "This page is reloaded" );
              // press the input button with id 'submit_button'
              document.getElementById("submit_button").click();
            } else {
              console.info( "This page is not reloaded");
            } {% endcomment %}

    </script>

{% endblock %}