{% extends './base_student.html' %}
{% load static %}

{% block title %}
<title>Submit Assignment</title>
{% endblock title %}

{% block styles %}
<link href="{% static 'Student/assets/css/assignment.css' %}" rel="stylesheet">
{% endblock styles %}


{% block navbar %}
<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>EDUMATE<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <a class="btn" href="{% url 'classroom1' pk=pk pk2=pk2 %}">Back</a>
          </li>
          
          <li class="dropdown">
            <a href="#">
              <span>Hello {{request.session.sname}}!</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
            </a>
            <ul>
              <li>
                {% if pk %}
                <a href="{% url 'logout' pk=pk %}">logout</a>
                {% else %}
                <a href="{% url 'logout' pk=pk1 %}">logout</a>
                {% endif %}
              </li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>


    </div>
  </header>
  {% endblock navbar %}

{% block content %}
<style>
  .btn-success, .btn-success:active, .btn-success:visited {
    background-color: #008374 !important;
  }
  
  .btn-success:hover {
    border-color: #008374 !important;
    background-color: white !important;
    color: #008374 !important;
  }

</style>

    {% comment %} <div>
      <p style="padding-top: 30px">Assignment name: {{ assign.0.assignment_name }}</p> 
      <p>Assignment description : {{ assign.0.assignment_description }}</p>
      <p>Marks : {{ assign.0.max_marks }}</p>
      <p>Due date : {{ assign.0.duedate }}</p>
    </div>
    <div>
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <input class="form-control" type="text" placeholder="Enter assignment description" name="description">
            <input class="form-control" type="file" placeholder="Upload pdf file" name="submission">
            <button class="btn btn-outline-success" type="submit">Submit</button>
        </form>
    </div>
    <div>
      {% if pflag %}
      {% if desc1 != "X" and desc2 != "X" %}
      <form method="post">
          {% csrf_token %}
          <p>File: <a target="_blank" href="{{ desc1.assign_file.url }}">View Doc</a></p>
          <input type="number" placeholder="Enter marks" name="peer1">
          <p>File: <a target="_blank" href="{{ desc2.assign_file.url }}">View Doc</a></p>
          <input type="number" placeholder="Enter marks" name="peer2">
          <input type="text" name="caller" value="call" style="display: none">
          <button class="btn btn-outline-success" type="submit">Submit</button>
      </form>
      {% endif %}
    {% endif %}
  </div> {% endcomment %}

  <div class="container">
    <div class="row" style="display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; height: 80vh;">
      <div class="col-md-6">
        <div>
          <p style="padding-top: 30px">Assignment name: {{ assign.0.assignment_name }}</p> 
          <p>Assignment description : {{ assign.0.assignment_description }}</p>
          <p>Marks : {{ assign.0.max_marks }}</p>
          <p>Due date : {{ assign.0.duedate }}</p>
        </div>
          <form method="post" action="#" enctype="multipart/form-data" >
            {% csrf_token %}
            <input class="form-control" type="text" placeholder="Enter assignment description" name="description">
            <div class="form-group files">
              <input type="file" class="form-control" multiple="">
            </div>
            
          </form>
      </div>
    </div>
  </div>
  <div>
    {% if pflag %}
    {% if desc1 != "X" and desc2 != "X" %}
    <form method="post">
        {% csrf_token %}
        <p>File: <a target="_blank" href="{{ desc1.assign_file.url }}">View Doc</a></p>
        <input type="number" placeholder="Enter marks" name="peer1">
        <p>File: <a target="_blank" href="{{ desc2.assign_file.url }}">View Doc</a></p>
        <input type="number" placeholder="Enter marks" name="peer2">
        <input type="text" name="caller" value="call" style="display: none">
        <button class="btn btn-outline-success" type="submit">Submit</button>
    </form>
    {% endif %}
  {% endif %}
</div>
  {% comment %} <a class="btn btn-outline-success" href="{% url 'classroom1' pk=pk pk2=pk2 %}">Back to classroom</a> {% endcomment %}
{% endblock content %}


{% block script %}
<script>
 
</script>
{% endblock script %}