{% extends './base_student.html' %}
{% load static %}

{% block title %}
<title>Submit Assignment</title>
{% endblock title %}


{% block navbar %}
<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>EDUMATE<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="{% url 'login_student' %}">Student Login</a></li>
          <li><a href="{% url 'login_teacher' %}">Teacher Login</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .navbar -->
  
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  
    </div>
  </header>
{% endblock navbar %}

{% block content %}
    <div>
      <p style="padding-top: 30px">Assignment name: {{ assign.0.assignment_name }}</p> 
      <p>Assignment description : {{ assign.0.assignment_description }}</p>
      <p>Marks : {{ assign.0.max_marks }}</p>
    </div>
    <div>
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <input type="text" placeholder="Enter assignment description" name="description">
            <input type="file" placeholder="Upload pdf file" name="submission">
            <button class="btn btn-outline-success" type="submit">Submit</button>
        </form>
    </div>
    <div>
      {% if pflag %}
      {% if desc1 != "X" and desc2 != "X" %}
      <form method="post">
          {% csrf_token %}
          <p>File: <a target="_blank" href="{{ desc1.assign_file.url }}">View Doc</a></p>
          <input type="number" placeholder="Enter marks" name="peer1">
          <p>File: <a target="_blank" href="{{ desc2.assign_file.url }}">View Doc</a></p>
          <input type="number" placeholder="Enter marks" name="peer2">
          <input type="text" name="caller" value="call" style="display: none">
          <button class="btn btn-outline-success" type="submit">Submit</button>
      </form>
      {% endif %}
    {% endif %}
  </div>
  <a class="btn btn-outline-success" href="{% url 'classroom1' pk=pk pk2=pk2 %}">Back to classroom</a>
{% endblock content %}