{% extends './base_student.html' %}
{% load static %}

{% block title %}
<title>Submit Assignment</title>
{% endblock title %}

{% block styles %}
<link href="{% static 'Student/assets/css/assignment.css' %}" rel="stylesheet">
{% endblock styles %}


{% block navbar %}
<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>EDUMATE<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <a class="btn" href="{% url 'classroom1' pk=pk pk2=pk2 %}">Back</a>
          </li>
          
          <li class="dropdown">
            <a href="#">
              <span>Hello {{request.session.sname}}!</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
            </a>
            <ul>
              <li>
                {% if pk %}
                <a href="{% url 'logout' pk=pk %}">logout</a>
                {% else %}
                <a href="{% url 'logout' pk=pk1 %}">logout</a>
                {% endif %}
              </li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>


    </div>
  </header>
  {% endblock navbar %}

{% block content %}
<style>
  .btn-success, .btn-success:active, .btn-success:visited {
    background-color: #008374 !important;
  }
  
  .btn-success:hover {
    border-color: #008374 !important;
    background-color: white !important;
    color: #008374 !important;
  }
  b {
    font-size: 18px;
  }

</style>

    {% comment %} <div>
      <p style="padding-top: 30px">Assignment name: {{ assign.0.assignment_name }}</p> 
      <p>Assignment description : {{ assign.0.assignment_description }}</p>
      <p>Marks : {{ assign.0.max_marks }}</p>
      <p>Due date : {{ assign.0.duedate }}</p>
    </div>
    <div>
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <input class="form-control" type="text" placeholder="Enter assignment description" name="description">
            <input class="form-control" type="file" placeholder="Upload pdf file" name="submission">
            <button class="btn btn-outline-success" type="submit">Submit</button>
        </form>
    </div>
    <div>
      {% if pflag %}
      {% if desc1 != "X" and desc2 != "X" %}
      <form method="post">
          {% csrf_token %}
          <p>File: <a target="_blank" href="{{ desc1.assign_file.url }}">View Doc</a></p>
          <input type="number" placeholder="Enter marks" name="peer1">
          <p>File: <a target="_blank" href="{{ desc2.assign_file.url }}">View Doc</a></p>
          <input type="number" placeholder="Enter marks" name="peer2">
          <input type="text" name="caller" value="call" style="display: none">
          <button class="btn btn-outline-success" type="submit">Submit</button>
      </form>
      {% endif %}
    {% endif %}
  </div> {% endcomment %}

  <div class="container">
    <div class="row" style="display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; 
    height: 80vh;
    align-items: center;">
    <div class="col-md-6" style="background: rgba( 255, 255, 255, 0.25 );
      box-shadow: 0 5px 18px 0 rgba(26, 38, 135, 0.20 );
      backdrop-filter: blur( 4px );
      -webkit-backdrop-filter: blur( 4px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );">
        <div>
          <p style="padding-top: 30px"><b>Assignment name</b> : {{ assign.0.assignment_name }}</p> 
          <p><b>Assignment description</b> : {{ assign.0.assignment_description }}</p>
          <p><b>Marks</b> : {{ assign.0.max_marks }}</p>
          <p><b>Due date</b> : {{ assign.0.duedate }}</p>
        </div>
          <form method="post" action="#" enctype="multipart/form-data" >
            {% csrf_token %}
            <input style="margin-bottom: 10px;" class="form-control" type="text" placeholder="Enter assignment description" name="description">
            <div class="form-group files">
              {% comment %} <div> {% endcomment %}
                <input onchange="updateFiles()" id="file" type="file" class="form-control" name="submission">
                {% comment %} <span>Upload pdf file</span> {% endcomment %}
              {% comment %} </div> {% endcomment %}
            </div>
            <div id="fileList">
              
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
          </form>
      </div>
    </div>
  </div>
  <div id="adobe-dc-view"></div>
  
  <div>
    {% if pflag %}
    {% if desc1 != "X" and desc2 != "X" %}
    <form method="post">
        {% csrf_token %}
        <p>File: <a target="_blank" href="{{ desc1.assign_file.url }}">View Doc</a></p>
        <input type="number" placeholder="Enter marks" name="peer1">
        <p>File: <a target="_blank" href="{{ desc2.assign_file.url }}">View Doc</a></p>
        <input type="number" placeholder="Enter marks" name="peer2">
        <input type="text" name="caller" value="call" style="display: none">
        <button class="btn btn-outline-success" type="submit">Submit</button>
    </form>
    {% endif %}
  {% endif %}
</div>
  {% comment %} <a class="btn btn-outline-success" href="{% url 'classroom1' pk=pk pk2=pk2 %}">Back to classroom</a> {% endcomment %}
{% endblock content %}


{% block script %}

<script>

  // create a variable that fetched value from input field with id "file" every second
  var singleFile; 

  function updateFiles() {
    var fileNames = [];
    var file = document.getElementById("file");
    var fileList = document.getElementById("fileList");
    while (fileList.firstChild) {
      fileList.firstChild.remove()
    }
    if (file.files.length > 0) {  
      for (var i = 0; i < file.files.length; i++) {
        fileNames.push(file.files[i].name);
        // singleFile = file.files[i];
      }
      var div = document.createElement("div");
      div.style.padding = "10px";
      div.style.background = "rgba(255, 255, 255, 0.29)";
      div.style.borderRadius = "6px";
      div.style.boxShadow = "0 4px 30px rgba(0, 0, 0, 0.1)";
      div.style.backdropFilter = "blur(6.4px)";
      div.style.webkitBackdropFilter = "blur(6.4px)";
      div.style.border = "1px solid rgba(255, 255, 255, 0.24)";
      div.style.marginBottom = "10px";
      div.innerHTML = fileNames.join(", ");
      document.getElementById("fileList").appendChild(div);
    }
  }

/* file.addEventListener("change", function(event) {
      var files = fileToRead.files;
     if (files.length > 0) {
        var reader = new FileReader();
        reader.onloadend = function(e) {
            var filePromise = Promise.resolve(e.target.result);
            // Pass the filePromise and name of the file to the previewFile API
            var adobeDCView = new AdobeDC.View({clientId: "a4a89fb3f3714753b882dad67e66d6a2", divId: "adobe-dc-view"});
            adobeDCView.previewFile({
                 content: {promise: filePromise}
                 metaData: { fileName: files[0].name }
            })
        };
        reader.readAsArrayBuffer(files[0]);
      }
    }, false);*/

  /* setInterval(function() {
    var file = document.getElementById("file");
    if (file.files.length > 0) {  
      if (flag == true) {
        for (var i = 0; i < file.files.length; i++) {
          fileNames.push(file.files[i].name);
        }
        console.log(fileNames);
        flag = false;
      }
    }
  }, 1000); */

</script>
<script src="https://documentservices.adobe.com/view-sdk/viewer.js"></script>
{% endblock script %}