{% extends './base_student.html' %}
{% load static %}

{% block title %}
<title>Mark Attendance</title>
{% endblock title %}

{% block navbar %}
<header id="header" class="header d-flex align-items-center">

  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="#" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1>EDUMATE<span>.</span></h1>
    </a>
    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a href="{% url 'submitatt' pk=pk pk2=pk2 %}" class="btn">Back</a>
        </li>
        <li class="dropdown">
          <a href="#">
            <span>Hello {{request.session.sname}}!</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
          </a>
          <ul>
            <li>
              {% if pk %}
              <a href="{% url 'logout' pk=pk %}"><i style="margin-right: 6px;" class="fa-solid fa-right-from-bracket"></i>logout</a>
              {% else %}
              <a href="{% url 'logout' pk=pk1 %}"><i style="margin-right: 6px;" class="fa-solid fa-right-from-bracket"></i>logout</a>
              {% endif %}
            </li>
          </ul>
        </li>
      </ul>
    </nav><!-- .navbar -->

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>
</header>
{% endblock navbar %}

{% block content %}
<style>
  .btn-success,
  .btn-success:active,
  .btn-success:visited {
    background-color: #008374 !important;
  }

  .btn-success:hover {
    border-color: #008374 !important;
    background-color: white !important;
    color: #008374 !important;
  }

  #left-side {
    /*background-color:#FFB74D;*/
    border-radius: 0;
    padding: 0;
    margin-bottom: 0;
    /*border: 1px solid red;*/
  }

  #right-side {
    height: 500px;
    padding: 0;
    /* background-image: url(https://images.unsplash.com/photo-1587058571836-8562bb05e548?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1035&q=80); */
    background-repeat: no-repeat;
    border-radius: 0;
    /*border: 1px dotted black;*/
  }

  .col-sm-6 {
    width: 48%;
  }

  h4 {
    margin: 2rem 0rem 1rem;
  }

  .table-image {

    td,
    th {
      vertical-align: middle;
    }
  }

  @keyframes slideOutTop {
    from { display: block; }
    to { transform: translateY(-100%); opacity: 0;}
}
  @keyframes slideInTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#alert-message {
  animation: 1s cubic-bezier(0.42, 0, 0.11, 1.01) 0s 1 slideInTop;
}

</style>

<div class="container" style="margin-top: 100px">
  {% if messages %}
    {% for message in messages %}
      {% if message.tags %}
        <div id="alert-message" style="background-color: #cc3c23;" class="alert {{ message.tags }}" role="alert">
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <div class="container">

    {% comment %} <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
      <img height="500" width="500" src={{imagePath}}>
    </div> {% endcomment %}
    {% comment %} <ul> {% endcomment %}
      <div class="">
        <div class="row">

          <div class="">
            <div class="row">
              <div id="left-side" class="col-md-6 jumbotron text-center">
                {% comment %} <h1 class="mt-5 pt-4">Heading </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                <button>Learn More >></button> {% endcomment %}
                {% for image in all_marked_images %}
                <div class="container">
                <img style="margin-bottom: 30px;" width="80%" src={{image}}>
                {% comment %} <canvas id="draw"></canvas> {% endcomment %}
                </div>
                {% endfor %}
              </div>
              <div id="right-side" class="col-md-6  jumbotron text-center">
                <div class="">
                  <div class="row">
                    <div class="col-12">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Number</th>
                            <th style="text-align: -webkit-center;" scope="col">Image</th>
                            <th style="text-align: -webkit-center;" scope="col">Mark</th>
                            {% comment %} <th scope="col"></th>
                            <th scope="col">Words</th>
                            <th scope="col">Shares</th> {% endcomment %}
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in final_list_list %}
                          <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td style="text-align: -webkit-center;" class="w-25">
                              <img style="width: 100px; height: 100px" src={{i.0}} class="img-fluid img-thumbnail"
                                alt="Sheep">
                            </td>
                            <td style="text-align: -webkit-center;">
                              {% if i.1 != "" %}
                              <div>
                                <i style="border-radius: 10px; background-color: #008374; color: white;"
                                  class="fa-regular fa-circle-check"></i>
                                <span style="width: 130px; display: block;"><small>Marked by: {{ i.1 }}</small></span>
                              </div>
                              {% else %}
                              <form method="post">
                                {% csrf_token %}
                                <input type="text" name="img_id" hidden value="{{forloop.counter0}}">
                                <button type="submit" class="btn btn-success"><small>Mark </small></button>

                              </form>
                              {% endif %}
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {% comment %} {% for i in final_list_list %}

            <div
              style="padding: 0; display: flex; flex-direction: row; flex-wrap: wrap; align-content: center; align-items: center; height: fit-content;"
              class="card col-lg-3 col-md-4 col-sm-12">
              <img height="100" width="100" src={{i.0}} alt="" style="border-radius: 6px;">
              <div class="card-body">
                {% if i.1 != "" %}
                <div>
                  <i style="border-radius: 10px; background-color: #008374; color: white;"
                    class="fa-regular fa-circle-check"></i>
                  <span style="width: 130px; display: block;"><small>Marked by: {{ i.1 }}</small></span>
                </div>
                {% else %}
                <form method="post">
                  {% csrf_token %}
                  <input type="text" name="img_id" hidden value="{{forloop.counter0}}">
                  <button type="submit" class="btn btn-success"><small>Mark </small></button>

                </form>
                {% endif %}
              </div>
            </div>
            {% endfor %} {% endcomment %}
          </div>
        </div>
        {% comment %}
    </ul> {% endcomment %}
    <br>
    {% comment %} <a href="{% url 'classroom1' pk=pk pk2=pk2 %}" class="btn btn-outline-success">Back to home page</a>
    {% endcomment %}
  </div>
</div>


{% endblock %}

{% block script %}
<script>

  var alertMessages = document.getElementById("alert-message");
  if (alertMessages) {
    setTimeout(function () {
      alertMessages.style.animation = "slideOutTop 2s";
    }, 3000);
    setTimeout(function () {
      alertMessages.style.display = "none";
    }, 5000);
  }


  function marker(id) {
    $('#img_catch').val(id);
    console.log($('#img_catch').val());
  }


  var canvas = document.getElementById("draw");

  var ctx = canvas.getContext("2d");

  // draw an image inside the canvas
  var img = new Image();
  img.src = "{{all_marked_images.0}}";
  canvas.width = 500;
  canvas.height = 500;

  var hRatio = canvas.width / img.naturalWidth;
  var vRatio = canvas.height / img.naturalHeight;
  var ratio = Math.min(hRatio, vRatio);
  var centerShift_x = (canvas.width - img.naturalWidth * ratio) / 2;
  var centerShift_y = (canvas.height - img.naturalHeight * ratio) / 2;
  ctx.clearRect(0, 0, canvas.width, canvas.height);


  console.log(img);
  img.onload = function () {
    // ctx.drawImage(img, 0, 0);
    ctx.drawImage(img, 0, 0, img.naturalWidth, img.naturalHeight, 0, 0, 500, 500);
  }

  var element = document.getElementById("draw");
  var rect = element.getBoundingClientRect();
  console.log(rect.top, rect.right, rect.bottom, rect.left);

  var scaleX = canvas.width / rect.width;
  var scaleY = canvas.height / rect.height;

  var c = 0;

  // resize canvas when window is resized
  // function resize() {
  //   ctx.canvas.width = window.innerWidth;
  //   ctx.canvas.height = window.innerHeight;
  // }

  // initialize position as 0,0
  var pos = { x: 0, y: 0, a: 0, b: 0 };
  var actualPos = { x: 0, y: 0, a: 0, b: 0 };

  // new position from mouse events
  function setPosition(e) {
    if (c == 0) {
      pos.x = (e.clientX - rect.left) * scaleX;
      pos.y = (e.clientY - rect.top) * scaleY;
    } else {
      pos.a = (e.clientX - rect.left) * scaleX;
      pos.b = (e.clientY - rect.top) * scaleY;
    }
  }
  /* function setPosition(e) {
    if (c == 0) {
      pos.x = e.clientX - 12 - rect.left + 8;
      pos.y = e.clientY - 30 - rect.top + 29 ;
    } else {
      pos.a = e.clientX - 12 - rect.left + 8;
      pos.b = e.clientY - 30 - rect.top + 29;
    }
  } */

  function draw(e) {
    if (e.buttons !== 1) return; // if mouse is not clicked, do not go further

    else if (c == 1) {
      // var color = document.getElementById("hex").value;

      ctx.beginPath(); // begin the drawing path

      ctx.lineWidth = 1.5; // width of line
      ctx.lineCap = "round"; // rounded end cap
      // ctx.strokeStyle = color; // hex color of line
      setPosition(e);
      ctx.rect(pos.x, pos.y, (pos.a - pos.x), (pos.b - pos.y));
      console.log(pos, actualPos, "inside draw");
      actualPos.x = pos.x;
      actualPos.y = pos.y;
      actualPos.a = pos.a;
      actualPos.b = pos.b;
      ctx.stroke(); // draw it!
      c = 0;
    }
    else {
      setPosition(e);
      c++;
    }
  }

  // clear canvas when clicked
  function clearCanvas() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    var img = new Image();
    img.src = "{{image}}";
    img.onload = function () {
      ctx.drawImage(img, 10, 10);
    }
  }

  // crop the image when clicked
  function cropImage() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    // ctx.drawImage(img, pos.x, pos.y, (pos.a-pos.x), (pos.b-pos.y), 0, 0, (pos.a-pos.x), (pos.b-pos.y));
    // console.log(pos, actualPos, "inside crop");
    ctx.drawImage(img, actualPos.x, actualPos.y, (actualPos.a - actualPos.x), (actualPos.b - actualPos.y), 0, 0, (actualPos.a - actualPos.x), (actualPos.b - actualPos.y));

  }



  // add window event listener to trigger when window is resized
  // window.addEventListener("resize", resize);

  // add event listeners to trigger on different mouse events
  document.addEventListener("mousedown", draw);
  document.addEventListener("mouseup", setPosition);
  document.addEventListener("click", setPosition);
</script>
{% endblock script %}
