{% extends './base_student.html' %}
{% load static %}


{% block content %}

<div class="container" style="margin-top: 100px">
    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <script>alert('{{ message }}')</script>
    {% endif %}

    {% endfor %}

    {% endif %}
    <div class="container">


        <form method="post">
            {% csrf_token %}
            <div class="form-group row">
                <div class="form-group row">
                    {% comment %} <label for="code" class="col-sm-2 col-form-label">Enter code</label> {% endcomment %}
                    <div class="col-sm-8">
                        <input type="text" class="form-control mx-1" id="code" name="code"
                            placeholder="Enter Attendance Code">
                        <input type="text" id="code_flag" name="code_flag" style="display: none">
                    </div>

                    <div class="col-sm-4">
                        <button class="btn btn-outline-success mx-1 my-1" type="submit">Mark Attendance</button>
                    </div>

                </div>
            </div>



        </form>

        <img src={{imagePath}} alt="">
        <ul>
            {% for i in allImages %}
            <li>
                <img src={{i}} alt="">
                {% if forloop.counter in marked_img_numbers %}
                <button  class="btn btn-outline-success" onclick="marker('{{forloop.counter}}')" disabled>Button</button>
                {% else %}
                <a href ="#" class="btn btn-success" onclick="marker('{{forloop.counter}}')">Button</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>   
        <br>
        <a href="{% url 'classroom1' pk=pk pk2=pk2 %}" class="btn btn-outline-success">Back to home page</a>
    </div>
</div>


{% endblock %}

{% block script %}
<script>
    
    function marker(id)
    {
        $.ajax(
        {
            type:"POST",
            url: "",
            data:{
                img_id: id-1,
                code: "{{class_code}}",
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function( data ) 
            {
                location.reload();
            }
        })
    }
</script>
{% endblock script %}
