{% extends './base_student.html' %}
{% load static %}

{% block title %}
<title>Quiz</title>
{% endblock title %}

{% block styles %}

<style>
  .btn-success, .btn-success:active, .btn-success:visited {
    background-color: #008374 !important;
  }
  
  .btn-success:hover {
    border-color: #008374 !important;
    background-color: white !important;
    color: #008374 !important;
  }
</style>

{% endblock styles %}


{% block navbar %}
  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>EDUMATE<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <a class="btn" href="{% url 'classroom1' pk=pk pk2=pk2%}">Back</a>
          </li>
          
          <li class="dropdown">
            <a href="#">
              <span>Hello {{request.session.sname}}!</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
            </a>
            <ul>
              <li>
                {% if pk %}
                <a href="{% url 'logout' pk=pk %}">logout</a>
                {% else %}
                <a href="{% url 'logout' pk=pk1 %}">logout</a>
                {% endif %}
              </li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header>
  {% endblock navbar %}

{% block content %}
<br><br>


{% comment %} <a class="btn btn-success" href="{% url 'classroom1' pk=pk pk2=pk2%}">Back</a> {% endcomment %}
<div class="Container">
    <h1>All Quizes</h1>
    <div class="row">
        {% for i in quiz %}
            {% comment %} <div class="card mx-2 my-2" style="width: 23%;">
                <div class="card-body">
                <h5 class="card-title">{{i.0.quiz_name}}</h5>
                <p class="card-text">{{i.0.description}}</p>
                {% if i.1 %}
                <a href="{% url 'review_quiz' pk=pk pk2=pk2 pk3=i.0.id %}" class="btn btn-primary">Review</a>
                {% else %}
                    {% if i.0.quiz_date <= today %}
                    <a href="{% url 'ansquiz' pk=pk pk2=pk2 pk3=i.0.id %}" class="btn btn-primary">Answer Quiz</a>
                    {% endif %}
                {% endif %}
                
                </div>
            </div> {% endcomment %}

            <div class="card my-2 mx-1 col-md-4" style="width: 25rem; padding:0px;">
                <div class="card-header">
                  <div style="font-weight: 600; font-size: 18px">
                    {{i.0.quiz_name}}
                  </div>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p><small>Description : {{i.0.description}}</small></p>
                    <p><small>Max marks: {{ i.0.total_marks }}</small></p>
                    <p><small>Quiz Creation Date: {{ i.0.quiz_date }}</small></p>
                    <p><small>Time Limit: {{ i.0.time_limit }} mins</small></p>
                    {% if i.1 %}
                        <a href="{% url 'review_quiz' pk=pk pk2=pk2 pk3=i.0.id %}" class="btn btn-success">Review</a>
                    {% else %}
                        {% if i.0.quiz_date >= today %}
                        <a href="{% url 'ansquiz' pk=pk pk2=pk2 pk3=i.0.id %}" class="btn btn-success">Answer Quiz</a>
                        {% else %}
                        <a href="{% url 'ansquiz' pk=pk pk2=pk2 pk3=i.0.id %}" class="btn btn-success" style="pointer-events: none">Due date passed</a>
                        {% endif %}
                    {% endif %}
                  </blockquote>
                </div>
              </div>

        {% endfor %}
    </div>
    </div>

{% endblock content %}


