{% extends './base_student.html' %}
{% load static %}
{% block content %}
<br><br>
<a class="btn btn-success" href="{% url 'quiz_stud' pk=pk pk2=pk2%}">Back</a>
<div class="container">

    <form class="form" autocomplete="off" onsubmit="return saveAns()"  action="" method="POST">
      {% csrf_token %}
      <h1 style="text-align: center;">{{course.course_name}}</h1>
      {% for q in quiz %}
      <h4 class="text">{{ forloop.counter }}. {{q.0.0.question}}</h4><h4 style="text-align: right;">[Marks {{q.3}}/{{q.0.0.question.marks}}.0]</h4>

      {% with outercount=forloop.counter %} 
          {% for op in q.0 %}
          
            <div class="form-check mx-4">
              {% if op|slugify in q.1 %}
              <input class="form-check-input" type="checkbox" name="op_{{outercount}}" id="op_{{outercount}}" disabled checked>
              {% else %}
              <input class="form-check-input" type="checkbox" name="op_{{outercount}}" id="op_{{outercount}}" disabled>
              {% endif %}
              
              
              <label class="form-check-label" for="op_{{outercount}}" id="op_{{outercount}}">
                {{op}}
              </label>
            </div>
        {% endfor %}
        {% endwith %} 
        <div>Correct options: {{q.2.0}}</div>
        <div>
          Marks: {{q.3}} 
        </div>
            
  
          {% endfor %}
          <br>
          <input class="btn btn-success"   type="submit" value="Submit">  
      </form>
    </div>



{% endblock content %}

{% block script %}
<script>

</script>
{% endblock script %}