{% extends './base_student.html' %}



{% block content %}
    <div class="container ">
        <div class="container" >
          <br><br><br>
            <form method="post" class="form-group row">
                {% csrf_token %}
              
                <label for="staticclasscode" class="col-sm-2 col-form-label" class="sr-only">Join Classroom:</label>
              <div class="col-sm-8">
                <input class="form-control" id="staticclasscode" type="text" placeholder="Enter class code" name="code">
              </div>
              <div class="col-sm-2">
                <button type="submit mb-2" class="btn btn-outline-success">Join</button>
              </div>
            </form>
        </div>
        <br>
        <div class="row">
            {% for i in data %}
                
                <div class="card mr-2 mb-2" style="width: 23%;">
                  <div class="card-body">
                    <h5 class="card-title">Subject:  {{ i.1 }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Instructor: {{ i.2 }} </h6>
                    <p class="card-text">Class code: {{i.0}}</p>
                    <a href="{% url 'classroom1' pk=pk pk2=i.0 %}" class="card-link">Go to classroom</a>
                    
                  </div>
                </div>

                
            {% endfor %}
        </div>

        
    </div>
{% endblock content %}