{% extends './base_student.html' %}

{% block title %}
<title>Home</title>
{% endblock title %}


{% block styles %}
<style>
  .btn-success, .btn-success:active, .btn-success:visited {
    background-color: #008374 !important;
  }
  
  .btn-success:hover {
    border-color: #008374 !important;
    background-color: white !important;
    color: #008374 !important;
  }

  .accordion-button:not(.collapsed){
    box-shadow: none;
    color: black;
    background-color: #f8f9fa;
  }
  
</style>
{% endblock styles %}


{% block navbar %}
  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>EDUMATE<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li class="dropdown">
            <a href="#">
              <span>Hello {{request.session.sname}}!</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
            </a>
            <ul>
              <li>
                {% if pk %}
                <a href="{% url 'logout' pk=pk %}"><i style="margin-right: 6px;" class="fa-solid fa-right-from-bracket"></i>logout</a>
                {% else %}
                <a href="{% url 'logout' pk=pk1 %}"><i style="margin-right: 6px;" class="fa-solid fa-right-from-bracket"></i>logout</a>
                {% endif %}
              </li>
            </ul>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header>
  {% endblock navbar %}


{% block content %}
{% if messages %}
    {% for message in messages %}
      {% if message.tags %}  
      <script>alert('{{ message }}')</script>
      {% endif %}
    {% endfor %}
{% endif %}
    <div class="container ">
        <div class="container" >
          <br><br><br>
            <form method="post" class="form-group row">
                {% csrf_token %}
              
                <label for="staticclasscode" class="col-sm-2 col-form-label" class="sr-only">Join Classroom:</label>
              <div class="col-sm-8">
                <input class="form-control" id="staticclasscode" type="text" placeholder="Enter class code" name="code" required>
              </div>
              <div class="col-sm-2">
                <button type="submit mb-2" class="btn btn-outline-success">Join</button>
              </div>
            </form>
        </div>
        <br>
        {% comment %} <div class="row">
            {% for i in data %}
                
                <div class="card mr-2 mb-2" style="width: 23%;">
                  <div class="card-body">
                    <h5 class="card-title">Subject:  {{ i.1 }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Instructor: {{ i.2 }} </h6>
                    <p class="card-text">Class code: {{i.0}}</p>
                    <a href="{% url 'classroom1' pk=pk pk2=i.0 %}" class="card-link">Go to classroom</a>
                    
                  </div>
                </div>
                
            {% endfor %}
        </div> {% endcomment %}
        <div class="row row-content my-4">
          {% for i in data %}
          <div class="col-md-4">
            <div class="card">
              <div class="card-header" style="font-size: 1.5rem;">
                {{ i.1 }}
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>Instructor: {{ i.2 }}</p>
                  <p>Class code: {{ i.0 }}</p>
                  <div class="accordion" id="accordionExample_{{forloop.counter}}" style="margin-bottom: 2vh;">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne_{{forloop.counter}}" aria-expanded="false" aria-controls="collapseOne_{{forloop.counter}}">
                          Upcoming assignments
                        </button>
                      </h2>
                      <div id="collapseOne_{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample_{{forloop.counter}}">
                        <div class="accordion-body">
                          {% for j in i.3 %}
                            {% if j.4 %}
                              <p style="font-size: 14px; color: red;">{{j.1}} : {{j.3}}</p>
                            {% else %}
                              <p style="font-size: 14px">{{j.1}} : {{j.3}}</p>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                  {% comment %} <p>Upcoming assignments:</p>
                  {% for j in i.3 %}
                    {% if j.4 %}
                    <p style="font-size: 14px; color: red;">{{j.1}} : {{j.3}}</p>
                    {% else %}
                    <p style="font-size: 14px">{{j.1}} : {{j.3}}</p>
                    {% endif %}
                  {% endfor %} {% endcomment %}
                  <a class="btn btn-success" href="{% url 'classroom1' pk=pk pk2=i.0 %}">Go to classroom</a>
                  <a class="btn btn-success" href="{% url 'analytics' pk=pk pk2=i.0 %}">Analytics</a>
                </blockquote>
              </div>
            </div>
          </div>
              <br>
          {% endfor %}
        </div>
    </div>
{% endblock content %}